BATCH_SIZE=1000
THROTTLE_RPS=0
STATE_DIR=~/.db-tool/state
MAPPINGS_DIR=~/.db-tool/mappings
OBFUSCATION_RULES_PATH=./config/obfuscation_rules.txt
REPLACEMENTS_PATH=./config/replacement_rules.txt
MONGO_MAX_RETRIES=5
MONGO_RETRY_BACKOFF_BASE=2.0
LANGUAGE=en
